.*
*.py[cod]
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.mp4
*.mov
*.mkv
*.log
*.zip
ckpt/sae_runs/**/sae_step*.pt # 仅忽略包含 "step" 的 ckpt 文件
!ckpt/sae_runs/**/sae_latest.pt # 保留 sae_latest.pt 文件
*.pth
*.ckpt
*.safetensors
*.json
# *.txt
*.backup
*.pkl
*.html
*.pdf
*.whl
cache
__pycache__/
storage/
samples/
!.gitignore
!requirements.txt
.DS_Store
*DS_Store
google/
Wan2.1-T2V-14B/
Wan2.1-T2V-1.3B/
Wan2.1-I2V-14B-480P/
Wan2.1-I2V-14B-720P/
poetry.lock
simulate/
nsfw_detect/
未来计划.txt
