.*
*.py[cod]
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.mp4
*.mov
*.mkv
*.log
*.zip
*.pt        # 忽略所有 .pt 模型文件
!latest.pt  # 例外：唯独 latest.pt 不忽略，允许上传
*.pth
*.ckpt
*.safetensors
*.json
# *.txt
*.backup
*.pkl
*.html
*.pdf
*.whl
cache
__pycache__/
storage/
samples/
!.gitignore
!requirements.txt
.DS_Store
*DS_Store
google/
Wan2.1-T2V-14B/
Wan2.1-T2V-1.3B/
Wan2.1-I2V-14B-480P/
Wan2.1-I2V-14B-720P/
poetry.lock
simulate/
nsfw_detect/
未来计划.txt
